DATABASE_URL=postgresql://usuario:password@career-db:5432/carreras_db
SERVICE_NAME=career-service
SERVICE_PORT=8001
ENVIRONMENT=development
EUREKA_ENABLED=true
EUREKA_SERVER=http://eureka-server:8761/eureka/
JWT_SECRET=your-secret-key-change-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
ALLOWED_ORIGINS=*
MATERIAS_SERVICE_URL=http://materias-service:8002

