# Auth service URL (Istio Gateway en producción, local en dev)
VITE_AUTH_URL=http://localhost:3000

# Google OAuth Client ID (obtener en console.cloud.google.com)
VITE_GOOGLE_CLIENT_ID=

# URI de redirección registrada en Google Cloud Console
# LOCAL:       http://localhost:5174/auth/google/callback
# PRODUCCIÓN:  https://tu-dominio.com/auth/google/callback
VITE_GOOGLE_REDIRECT_URI=http://localhost:5174/auth/google/callback
